@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.btn {
    border: none;
    padding: 1.25rem 2.25rem;
    border-radius: 0.4rem;
    color: #005FAC;
    background-color: #fff;
}

.container {
    width: 70%;
    max-width: 71rem;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.section-title {
    color: #151414;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
}

.section-description {
    color: #444343;
    font-weight: 400;
    line-height: 1.625rem;
    /* 162.5% */
}

#header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8rem;
}

.header-container {
    max-width: 33rem;
    margin: 0 14rem 0 52rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#header .header-title {
    color: #FFF;
    text-align: right;
    font-size: 4.0625rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1.5rem;
}

#header .title-description {
    color: #FFF;
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-bottom: 1.5rem;
}

#header .btn {
    color: #005FAC;
    font-size: 1.25rem;
    font-weight: 600;
}

/* Failures */
#failures .container {
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem
}

#failures .failures-img {
    border-radius: 45%;
    background: #f1f1f1;
    width: 25rem;
}

#failures .failures-text {
    max-width: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

#failures .failures-text .checkmark {
    margin-top: 1rem;
}

#failures .failures-text .checkmark i {
    margin-right: 0.5rem;
    color: #16D887;
}

/* My Plan */
#plan {
    margin-top: 8rem
}

#plan .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.3rem;
}

#plan .section-title {
    text-align: center;
}

#plan .plan-items {
    display: flex;
    justify-content: space-between;
}

#plan .plan-items .item {
    text-align: center;
}

#plan .plan-items .item img {
    max-width: 5.8rem;
}

/* Contact */
#contact {
    margin-top: 8rem;
}

#contact .container {
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    height: 18.75rem;
    padding: 3.6rem 38rem 3.6rem 4rem;
    margin-bottom: 8.1rem;
}

#contact .section-title {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1.2rem;
}